.tabs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0 auto 90px auto;
}

.tab-item{
    width: 350px;
    text-align: center;
    border-radius: 20px;
    margin: 0 15px 20px 15px;
    padding: 10px 25px 40px 25px;
}

#email{
    background-color: #70D9F6;
}

#position{
    background-color:#E9F1F7;
}

#feedback{
    background-color: #C0F3A4;
}



a{
    text-decoration: none;
}

button{
    background-color: transparent;
    text-align: center;
    padding: 20px 40px;
    margin-top: 15px;
}

button:hover{
    transition: ease-in 0.2s;
}

#email-btn{
    border: 7px solid white;
}

#email-btn:hover{
    background-color: rgb(92, 197, 226);
}

#email-btn a{
    color: white;
}

#pos-btn{
    border: 7px solid #C0AAE6;
}

#pos-btn:hover{
    background-color: rgb(213, 221, 227);
}

#pos-btn a{
    color: #C0AAE6; 
}

#feed-btn{
    border: 7px solid white;
}

#feed-btn:hover{
    background-color: rgb(172, 223, 144);
}

#feed-btn a{
    color: white;
 
}